gui:
  shortTimeFormat: '15:04'
  nerdFontsVersion: '3'
  showDivergenceFromBaseBranch: 'arrowAndNumber'
  spinner:
    frames:
      - '⣷'
      - '⣯'
      - '⣟'
      - '⡿'
      - '⢿'
      - '⣻'
      - '⣽'
      - '⣾'
git:
  pagers:
    - pager: 'diff-so-fancy'
  mainBranches:
    - 'master'
    - 'main'
    - 'prod'
    - 'production'
  skipHookPrefix: 'WIP'
os:
  editPreset: 'nvim'
services:
  'gitlab.fiege.com': 'gitlab:gitlab.fiege.com'
disableStartupPopups: true
notARepository: 'skip'
customCommands:
  - key: 'n'
    context: 'files'
    description: 'Commit witout signing'
    prompts:
      - type: 'input'
        title: 'Enter commit message'
        key: 'commitMessage'
        initialValue: ''
    command: 'git commit --no-gpg-sign -m {{.Form.commitMessage | quote}}'
    output: log
  - key: 'N'
    context: 'localBranches'
    description: 'New branch with prefix'
    prompts:
      - type: 'menu'
        title: 'What kind of branch is it?'
        key: 'BranchType'
        options:
          - name: 'feature'
            description: 'a feature branch'
            value: 'feature'
          - name: 'hotfix'
            description: 'a hotfix branch'
            value: 'hotfix'
          - name: 'release'
            description: 'a release branch'
            value: 'release'
          - name: 'none'
            description: 'don''t use any prefix'
            value: '-'
      - type: 'input'
        title: 'What is the new branch name?'
        key: 'BranchName'
        initialValue: ''
    command: 'git checkout -b {{if eq .Form.BranchType "-"}}{{else}}{{.Form.BranchType}}/{{end}}{{.Form.BranchName}} refs/heads/{{.SelectedLocalBranch.Name}}'
    loadingText: 'Creating branch'
